@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Poppins&display=swap');
:root {

  /*CUSTOM COLOR PALETTE*/
  --deep-blue: #071952;
  --dark-green : #0B666A;
  --medium-green : #35A29F;
  --light-green : #97FEED;
  /*CUSTOM COLOR PALETTE*/
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
.title-decorated{
  font-weight: bolder;
  line-height: 160px;
  text-shadow: 0 0 20px var(--medium-green),0 0 60px var(--medium-green);
  transition: all 0.3s ease-in-out;
  cursor: default;
}
.title-decorated:hover{
  cursor: default;
  text-shadow: 0 0 50px var(--medium-green), 0 0 60px var(--medium-green), 0 0 70px var(--medium-green);
}
.title-white{
  color: white;
}
.title-huge{ 
  font-size: 7rem;
  letter-spacing: -5px;
}
.title-big{ 
  font-size: 4.5rem;
  letter-spacing: -3px;
}
.title-centered{
  text-align: center;
}

.bg-deep-blue{
  background-color: var(--deep-blue);
}

